@model Tugas.Models.Barang
@{
    ViewBag.Title = "Tambah";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tambah</title>
</head>
<body>
    <div class="container-fluid">
        <form action="~/store" method="post">
            <div class="form-group">
                <h5> ID Barang</h5>
                <input class="form-control-plaintext" readonly type="text" value="@Model.IdBarang" name="IdBarang" /><br />
                <h5> Nama Barang</h5>
                <input class="form-control" readonly type="text" value="@Model.NamaBarang" name="NamaBarang" /><br />
                <h5> Harga Barang (Dalam Rupiah)</h5>
                <input class="form-control" readonly type="text" value="@Model.HargaBarang" name="HargaBarang" /><br />
                <h5> Quantity Barang</h5>
                <input class="form-control" type="text" name="Quantity" /><br />
                <input type="submit" class="btn btn-success" value="Tambah"><br />
            </div>
        </form>
    </div>
</body>
</html>
